{% extends 'base.html.twig' %}

{% block title %}Hello Cheater!{% endblock %}

{% block body %}




<div class="max-w-lg mx-auto py-4 px-6">
	<div class="bg-white shadow-md rounded-lg px-8 py-6">
  
    <!-- Chat messages container -->
    <div id="chat-container" class="mb-4">
      {% if messages is defined %}
				{% for message in messages %}
					<p class="p-2 {{message.role == 'user' ? 'text-right bg-blue-100 rounded my-1' : 'text-left bg-green-100 rounded my-1'}}">{{ message.content }}</p>
				{% endfor %}
			{% endif %}
    </div>
    
    <!-- Input form -->
    <form action="#" method="post" class="flex items-center">
    
      <!-- Input field for user message -->
			<textarea name="question" class="w-full rounded border border-gray-400 py-2 px-4 mr-2"
			placeholder="Type your message...">
			</textarea>
        
      <!-- Submit button -->
      <button type="submit"
        class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
        Send
      </button>
    </form>


    <div class="flex items-center mt-3 justify-center">
      <a href="{{path('app_clear')}}">
        <button type="submit"
        class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded">
        Clear
        </button>
      </a>
    </div>
    
  </div>
</div>
{% endblock %}